# 第2章: UNIXコマンドの基礎

[```hightemp.txt```](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt) は, 日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである. 以下の処理を行うプログラムを作成し. [```hightemp.txt```](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt) を入力ファイルとして実行せよ. さらに, 同様の処理を UNIX コマンドでも実行し, プログラムの実行結果を確認せよ.

## 10. 行数のカウント

行数をカウントせよ. 確認には ```wc``` コマンドを用いよ.

```shell
wc -l hightemp.txt
```

In [1]:
!wc -l ../data/hightemp.txt

      24 ../data/hightemp.txt

## 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ. 確認には ```sed``` コマンド, ```tr``` コマンド, もしくは ```expand``` コマンドを用いよ.

```shell
sed -e "s/\t/ /g" hightemp.txt
```

In [2]:
!gsed -e "s/\t/ /g" ../data/hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

```shell
tr "\t" " " < hightemp.txt
```

In [3]:
!tr "\t" " " < ../data/hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目を ```col1.txt``` に，2列目を ```col2.txt``` に保存

各行の1列目だけを抜き出したものを ```col1.txt``` に, 2列目だけを抜き出したものを ```col2.txt``` としてファイルに保存せよ. 確認には ```cut``` コマンドを用いよ.

```shell
for i in 1 2; do cut -f $i hightemp.txt > col$i.txt; done
```

In [4]:
!for i in 1 2; do cut -f $i ../data/hightemp.txt > ../data/col$i.txt; done

## 13. ```col1.txt``` と ```col2.txt``` をマージ

[```12```](#12.-1列目を-<code>col1.txt<%2Fcode>-に，2列目を-<code>col2.txt<%2Fcode>-に保存) で作った ```col1.txt``` と ```col2.txt``` を結合し, 元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ. 確認には ```paste``` コマンドを用いよ.

```shell
paste col1.txt col2.txt > pasted.txt
```

In [5]:
!paste ../data/col1.txt ../data/col2.txt > ../data/pasted.txt

## 14. 先頭から ```N``` 行を出力

自然数Nをコマンドライン引数などの手段で受け取り, 入力のうち先頭のN行だけを表示せよ. 確認には ```head``` コマンドを用いよ.

```shell
head -n N hightemp.txt
```

In [6]:
!N=3; head -n $N ../data/hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

## 15. 末尾の ```N``` 行を出力

自然数Nをコマンドライン引数などの手段で受け取り, 入力のうち末尾のN行だけを表示せよ. 確認には ```tail``` コマンドを用いよ.

```shell
tail -n N hightemp.txt
```

In [7]:
!N=3; tail -n $N ../data/hightemp.txt

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り, 入力のファイルを行単位でN分割せよ. 同様の処理を ```split``` コマンドで実現せよ.

```shell
split -l N hightemp.txt
```

In [8]:
!N=3; split -l $N ../data/hightemp.txt ../data/splitted.

## 17. 1列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ. 確認にはsort, uniqコマンドを用いよ.

```shell
sort col1.txt | uniq
```

In [9]:
!sort ../data/col1.txt | uniq

愛媛県
愛知県
大阪府
千葉県
静岡県
山形県
山梨県
和歌山県
岐阜県
群馬県
高知県
埼玉県

## 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）. 確認には ```sort``` コマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）.

```shell
sort -k 3rn -t $'\t' hightemp.txt
```

In [10]:
!sort -k 3nr -t $'\t' ../data/hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
千葉県	牛久	40.2	2004-07-20
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
愛知県	名古屋	39.9	1942-08-02

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め, その高い順に並べて表示せよ. 確認には ```cut```, ```uniq```, ```sort``` コマンドを用いよ.

```shell
cut -f 1 hightemp.txt | sort | uniq -c | sort -rn
```

In [11]:
!cut -f 1 ../data/hightemp.txt | sort | uniq -c | sort -rn

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 高知県
   1 愛媛県
   1 大阪府
   1 和歌山県